 body {
        background-color: #E6D585;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
         }
    .border {
        width: 600px;
        margin: 5px auto;
        padding: 2em;
        background-color: #DAB766;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
    footer {
        bottom:0px;
        width:100%;
        text-align:center;
        margin: 0px auto;
        padding: 2em;
        background-color: #B7C59B;
    }
    hr{
        width:600px;
        animation-name: test;
        animation-duration: 5s;
    }   
    @keyframes test{
        0%{background-color: red;width: 100px;}
        25%{background-color: yellow;width: 250px; }
        50%{background-color: blue;width: 450px;}
        100%{background-color: green;width: 600px;}
    }
    .heading{
                text-align: center;
                color: #CC2A36;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #E5D9CA;
    }
    li{
        float: left;
    }
    li a, .dropbtn{
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover, .dropdown:hover .dropbtn{
        background-color: red;
    }
    li.dropdown{
        display: inline-block;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #E5D9CA;
        min-width: 160px;
    }
    .dropdown-content a{
        padding: 12px 16px;
        display: block;
        text-align: left;
    }
    .dropdown-content a:hover{
        background-color: #17b797;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        .border {
            margin: 0 auto;
            margin-bottom:5px;
            width: auto;
        }
        footer {bottom:0px;
        width:100%;
        text-align:left;
        margin: 0px auto;
        padding: 2em;
        background-color: #B7C59B;
    }
    hr{
        width:100%;
        animation-name: test;
        animation-duration: 5s;
    }   
    @keyframes test{
        0%{background-color: red;width: 25%;}
        25%{background-color: yellow;width: 50%; }
        50%{background-color: blue;width: 75%;}
        100%{background-color: green;width: 100%;}
    }
    }